nav {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
}

h1,
p {
    display: inline;
}

p {
    margin-left: 90%;

}

a {
    color: lightgrey;
    cursor: pointer;
}

a:hover {
    color: white;
}
.one{
    display:inline;
}
.contact {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}